<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Add a new patrocinio</h2>
            <br>
            <form name="patrocinio" (ngSubmit)="f.form.valid && createPatrocinio()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="patrocinioName"><b>Nombre</b></label>
                    <input type="text" name="patrocinioName" class="form-control" id="distritoName" [(ngModel)]="patrocinio.name"
                        #patrocinioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && patrocinioName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The patrocinios's name is missing</div>
                    </div>
                </div>
              
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>