<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Edit an grupodeinteres</h2>
        <br>
        <form grupodeinteres="grupodeinteres" (ngSubmit)="f.form.valid && editGrupodeinteres()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="grupodeinteresName"><b>Name</b></label>
                <input type="text" name="grupodeinteresName" class="form-control" id="grupodeinteresName" [(ngModel)]="grupodeinteres.nombre"
                    #grupodeinteresName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && grupodeinteresName.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>The grupodeinteres's name is missing</div>
                </div>
                <br>
                <label for="grupodeinteresDescripcion"><b>Descripcion</b></label>
                <input type="text" name="grupodeinteresDescripcion" class="form-control" id="grupodeinteresDescripcion"
                    [(ngModel)]="grupodeinteres.descripcion" #grupodeinteresDescripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && grupodeinteresDescripcion.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>The grupo's description is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                    
                         <button type="submit" class="fa fa-save pollito" style="padding-right: 1em;">

                         </button> 
                   
        
                    <i class="fa fa-ban" (click)="cancelEdition()"></i>
                </div>

        </form>
    </div>
</div>
