<div class="container-fluid">
    <div class="col">
                    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/ciudadanos/add">Crear un nuevo ciudadano</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ciudadanos</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let ciudadano of ciudadanos">
                    <td style="cursor: pointer;"> 
                        <dd  routerLink="/ciudadanos/{{ciudadano.id}}" >{{ciudadano.nombre}}</dd>
                    </td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>
