<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Crear un nuevo administrador</h2>
            <br>
            <form name="administrador" (ngSubmit)="f.form.valid && createAdministrador()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="administradorName"><b>Nombre</b></label>
                    <input type="text" name="administradorName" class="form-control" id="administradorName" [(ngModel)]="administrador.nombre"
                        #administradorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && administradorName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Falta el nombre del administrador</div>
                    </div>
                    <label for="administradorContrasena"><b>Contraseña</b></label>
                    <input type="text" name="administradorContrasena" class="form-control" id="administradorContrasena" [(ngModel)]="administrador.contrasena"
                        #administradorContrasena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && administradorContrasena.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Falta la contraseña del administrador</div>
                    </div>
                </div>
              
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>