<div class= "container-fluid">
    <div class="col">
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/categorias/add">Crear una nueva categoria</button>
        <br>
        
        <table class = "table table-striped">
            
            <thead>
                
                <tr>
                    
                    <th> Nombre categoria </th>  
                    
                </tr>
                
            </thead>      
            
            <tbody>  
                
                <tr *ngFor = "let categoria of categorias">                    
                    <td routerLink="/categorias/{{categoria.id}}"> {{categoria.nombre}}</td>
                    
                    <td>
                        <i class="fa fa-pencil" style="cursor: pointer;" routerLink="/categorias/edit/{{categoria.id}}"></i>
                    </td>
                    <td>
                        <i class="fa fa-trash" style="cursor: pointer;" routerLink="/categorias/delete/{{categoria.id}}"></i>
                    </td>
                
                </tr>
            
        </tbody>
        
    </table>
    
    </div>
</div>