<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Comentarios </th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let comentario of comentarios">
                    <td><span>{{comentario.texto}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/comentarios/add">Crear un nuevo comentario</button>
</div>
