<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Comentarios </th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let comentario of comentarios">
                    <td style="cursor: pointer;"> 
                    <dd routerLink="/comentarios/{{comentario.id}}" >{{comentario.texto}}</dd>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary btn-lg" routerLink="/comentarios/add">Crear un nuevo comentario</button>
</div>
