<div class="container-fluid">
    <div class="col">
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/gruposdeinteres/add">Crear un nuevo grupo</button>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let grupodeinteres of gruposdeinteres">
                    <td routerLink="/gruposdeinteres/{{grupodeinteres.id}}">{{grupodeinteres.nombre}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
