<div class="container-fluid">
    <div class="col">
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/gruposdeinteres/add">Crear un nuevo grupo</button>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let grupodeinteres of gruposdeinteres">
                        <td style="cursor: pointer;" routerLink="/gruposdeinteres/{{grupodeinteres.id}}"> <dd>{{grupodeinteres.nombre}}</dd></td>
                        <td>
                            <i class="fa fa-pencil" style="cursor: pointer;"
                            routerLink="/gruposdeinteres/edit/{{grupodeinteres.id}}" ></i>
                        </td>
                        <td>
                            <i class="fa fa-trash" style="cursor: pointer;"
                            routerLink="/gruposdeinteres/delete/{{grupodeinteres.id}}"   ></i>
                        </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
