<div class="container-fluid">
    <div class="col">
         <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/locaciones/add">Crear una nueva locacion</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th>NOMBRE DE LA LOCACION</th>    
                    <th>POSIBLE FOTO</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let locacion of locaciones">
                    <td routerLink="/locaciones/{{locacion.id}}">{{locacion.locacion}}</td>                            
                </tr>
            </tbody>
        </table>
    </div>
</div>
