<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">
                    Create an administrador
                   
                </button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Administrador´s Nombre</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let administrador of administradores" >
                        <td style="cursor: pointer;" (click)="onSelected(administrador.id)"> <dd>{{administrador.nombre}}</dd></td>
                        <td>
                            <i class="fa fa-pencil" style="cursor: pointer;"
                                (click)="showHideEdit(administrador.id)"></i>
                        </td>
                        <td>
                            <i class="fa fa-trash" style="cursor: pointer;"
                            routerLink="/administradores/delete/{{administrador.id}}" ></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <div *ngIf="showView">
                <app-administrador-detail [administradorDetail]="selecteddministrador"></app-administrador-detail>
            </div>
            <div *ngIf="showCreate">
                <app-administrador-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-administrador-create>
            </div>
            <div *ngIf="showEdit">
                <app-administrador-edit [administrador]="selectedAdministrador" (cancel)="showHideEdit(selectedAdministrador.id)" (update)="updateAdministrador()" ></app-administrador-edit>
            </div>
        </div>   
    </div>
</div>
