<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Administradores</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let administrador of administradores">
                    <td style="cursor: pointer;"> 
                        <dd  routerLink="/administradores/{{administrador.id}}" >{{administrador.nombre}}</dd>
                    </td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>
