<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Edit an patrocinio</h2>
        <br>
        <form patrocinio="patrocinio" (ngSubmit)="f.form.valid && editPatrocinio()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="patrocinioName"><b>Name</b></label>
                <input type="text" name="patrocinioName" class="form-control" id="patrocinioName" [(ngModel)]="patrocinio.nombre"
                       #patrocinioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && patrocinioName.invalid }" required>
                       <div class="invalid-feedback">
                    <div>The patrocinio's name is missing</div>
                </div>
                <label for="patrocinioValor"><b>Valor</b></label>
                     <input type="number" name="patrocinioValor" class="form-control" id="patrocinioValor" [(ngModel)]="patrocinio.valor"
                        #patrocinioValor="ngModel" [ngClass]="{ 'is-invalid': f.submitted && patrocinioValor.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The patrocinios's name is missing</div>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="fa fa-save " (click)="editPatrocinio()"></i>
          
            <i class="fa fa-ban" (click)="cancelEdition()"></i>
        </div>
    </div>
</div>
<br>
<br>