<div class="container-fluid">
    <div class="col">
         <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/patrocinios/add">Crear un nuevo patrocinio</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NOMBRE DEL PATROCINADOR</th>    
                    <th>POSIBLE FOTO</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let patrocinio of patrocinios">
                    <td style="cursor: pointer;" routerLink="/patrocinios/{{patrocinio.id}}">{{patrocinio.nombre}}</td>   
                    <td>
                            <i class="fa fa-pencil" style="cursor: pointer;"
                            routerLink="/patrocinios/edit/{{patrocinio.id}}" ></i>
                        </td>
                        <td>
                            <i class="fa fa-trash" style="cursor: pointer;"
                            routerLink="/patrocinios/delete/{{patrocinio.id}}"   ></i>
                        </td>                         
                </tr>
            </tbody>
        </table>
    </div>
</div>
