<div style="text-align: center"> <h1> Welcome to {{title}}! </h1> </div>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="ciudadanosTag" class="nav-link" routerLink="/ciudadanos/list">Ciudadanos</a>
    </li>
    <li class="nav-item">
        <a id="grupodeinteresTag" class="nav-link" routerLink="/gruposdeinteres/list">Grupos</a>
    </li>
     <li class="nav-item">
        <a id="categoriaTag" class="nav-link" routerLink="/categorias/list">Categorias</a>
    </li>
</ul>

<router-outlet></router-outlet>


 