<!--The content below is only a placeholder and can be replaced.-->

<br>
<div style="text-align: center"> <h1>¡Bienvenidos a {{title}}! </h1> </div>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="administradoresTag" class="nav-link" routerLink="/administradores/list">Administradores</a>
    </li>
    <li class="nav-item">
        <a id="ciudadanosTag" class="nav-link" routerLink="/ciudadanos/list">Ciudadanos</a>
    </li>
    <li class="nav-item">
        <a id="comentariosTag" class="nav-link" routerLink="/comentarios/list">Comentarios</a>
    </li>
    <li class="nav-item">
        <a id="grupodeinteresTag" class="nav-link" routerLink="/gruposdeinteres/list">Grupos</a>
    </li>
     <li class="nav-item">
        <a id="categoriaTag" class="nav-link" routerLink="/categorias/list">Categorias</a>
    </li>
     <li class="nav-item">
        <a id="patrocinioTag" class="nav-link" routerLink="/patrocinios/list">Patrocinios</a>
     </li>    
     
    <li class="nav-item">
        <a id="distritoTag" class="nav-link" routerLink="/distritos/list" >Distritos</a>
    </li>
</ul>

<router-outlet></router-outlet>


 