<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Edit an distrito</h2>
        <br>
        <form name="distrito" (ngSubmit)="f.form.valid && editDistrito()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="distritoName"><b>Name</b></label>
                <input type="text" name="distritoName" class="form-control" id="distritoName" [(ngModel)]="distrito.name"
                       #distritoName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && distritoName.invalid }" required>
                       <div class="invalid-feedback">
                    <div>The distrito's name is missing</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="fa fa-save " (click)="editDistrito()"></i>
          
            <i class="fa fa-ban" (click)="cancelEdition()"></i>
        </div>
    </div>
</div>
<br>
<br>