<div class="container-fluid">
  <div class="col">
      <table class="table table-striped">
          <thead >
              <tr>
                  <th>Titular de la noticia</th>    
                  <th>Id de la noticia</th>    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let noticia of noticias">
                  <td>{{noticia.descripcion}}</td>
                  <td>{{noticia.id}}</td>
                
              </tr>
          </tbody>
      </table>
  </div>
</div>
