

       <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/gruposdeinteres/{{grupo_id}}/eventos/add">Crear un nuevo evento</button>
      
   <table class="table table-striped">
        
        <tbody>
            
            <tr *ngFor="let evento of eventos" >
              <td><span id="grupo-eventotid"><b>{{evento.id}}</b></span><span>: </span><span id="evento-nombre" 
                    style="cursor: pointer;" routerLink="/gruposdeinteres/{{grupo_id}}/eventos/{{evento.id}}">{{evento.nombre}}</span><br></td>
               <td>
             <i class="fa fa-pencil" style="cursor: pointer;"
               routerLink="/gruposdeinteres/{{grupo_id}}/eventos/edit/{{evento.id}}" ></i>
              </td>
              <td>
              <i class="fa fa-trash" style="cursor: pointer;"
              routerLink="/gruposdeinteres/{{grupo_id}}/eventos/delete/{{evento.id}}" ></i>
              </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="selectedEvento"></div>
