<div class="panel-body">
        <div class="border margin">
            <p class="h3 p-3">{{locacion.locacion}}<p>
                     
            <div class="row">
                <div class="col-md-3">
                    <div class="thumb">
                        <img class="img-fluid" src='{{locacion.imagen}}' alt="{{locacion.imagen}}" />   
                    </div>
                </div>
                <div class="col">
                    <dl>     
                        <dt>Direccion</dt>
                        <dd>{{locacion.direccion}}</dd>
                        <dt>Latitud</dt>
                        <dd>{{locacion.latitud}}</dd>
                        <dt>Longitud</dt>
                        <dd>{{locacion.longitud}}</dd>
                        <dt>Tipo</dt>
                        <dd>{{locacion.tipo}}</dd>
                    </dl>
                </div>
    
            </div>
        </div>
      
    </div>
    