<div class="container-fluid">
    <div class="col">
            <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/distritos/add">Crear un nuevo distrito</button>
        <table class="table table-striped">
            <thead >
                <tr>
                    <th>Nombre del distrito</th>    
                    <th>Id del distrito</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let distrito of distritos">
                    <td routerLink="/distritos/{{distrito.id}}">{{distrito.name}}</td>
                    <td>{{distrito.id}}</td>
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>
