

       <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/gruposdeinteres/{{grupo_id}}/noticias/add">Crear un nuevo noticia</button>
      
   <table class="table table-striped">
        
        <tbody>
            
            <tr *ngFor="let noticia of noticias">
                <td><span id="grupo-noticiatid"><b>{{noticia.id}}</b></span><span>: </span><span id="noticia-titular" 
                    style="cursor: pointer;" routerLink="/gruposdeinteres/{{grupo_id}}/noticias/{{noticia.id}}">{{noticia.titular}}</span><br></td>
                <td>
                        <i class="fa fa-pencil" style="cursor: pointer;"
                        routerLink="/gruposdeinteres/{{grupo_id}}/noticias/edit/{{noticia.id}}" ></i>
                    </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="selectedNoticia"></div>