<div *ngIf="locacionDetail" class="panel-body" >
    <div class="border margin">
        <p class="h3 p-3">{{locacionDetail.nombre}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dd>aqui podria ir una  foto</dd>
                    <dt>Id</dt>
                    <dd>{{locacionDetail.id}}</dd>          
                       <dt>direcion</dt>
                    <dd>{{locacionDetail.direcion}}</dd>     
                      <dt>distrito</dt>
                    <dd >{{locacionDetail.distrito.name }}</dd>  
                    <dt>latitud</dt>
                    <dd >{{locacionDetail.latitiud}}</dd> 
                    <dt>longitud</dt>
                    <dd >{{locacionDetail.longitud}}</dd> 
                </dl>
            </div>
        </div>
    </div>
</div>
