<div *ngIf="grupodeinteresDetail" class="panel-body" >
    <div class="border margin">
        <p class="h3 p-3">{{grupodeinteresDetail.nombre}}</p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>id</dt>
                    <div class="col-md-3">
                            <p >
                                    <button type="button" class="btn" [ngClass]="{'btn-outline-primary':!noticiaListComponent.isCollapsed}" (click)="toggleNoticias()">
                                        Noticias of the Grupo
                                    </button>
                                </p>
                            <app-grupodeinteres-noticias [noticias]="grupodeinteresDetail.noticias"></app-grupodeinteres-noticias>
                        </div>
                </dl>
            </div>
        </div>
    </div>    
</div>
